.window-info__wrapper {
  background-color: rgb(238, 237, 230);
  border: hidden 1px;
  border-radius: 4px;
  margin: 10px;

  box-shadow: 0 5px 2px rgb(233, 233, 233);
}
.window-info {
  text-align: center;
}
