.button-next {
  width: 50%;
  text-align: center;
  margin-bottom: 5px;

  background-color: rgb(60, 68, 219);

  border: none;
  border-radius: 30px;

  font-size: large;
  color: rgb(255, 255, 255);

  cursor: pointer;
}
